body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

h1.main-title {
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}


.proyecto {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.destacado {
    font-weight: bold;
    color: #336699;
}

.texto-grande {
    font-size: 1.2em;
}

#inicio {
    text-align: center;
}

#contacto {
    background-color: #eee;
    padding: 15px;
    border-top: 1px solid #ccc;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}